.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16x;
    line-height: 26px;
  }
}

@media screen and (max-width: 580px) {
  .place__paragraph {
    padding: 0 16px;
  }
  .place__paragraph + .place__paragraph {
    margin-top: 24px;
  }
}
