.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  transition: opacity 0.3s; 
}

.place__link:hover {
  cursor: pointer;
  opacity: 0.6;
}