@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__links-wrapper/footer__links-wrapper.css);

.footer {
  display: flex;  
  justify-content: space-between;
  max-width: 100%;
  margin: 0;
  padding: 92px 48px 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 690px) {
  .footer {
    flex-direction: column;
    padding: 64px 16px 24px;
  }
}